/* Overlay semi-transparent */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

/* Meniu lateral */
.side-menu {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 450px;
  height: 100%;
  background: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease, right 0.3s ease;
  z-index: 100;
}

/* Meniu din dreapta */
.side-menu.right {
  left: auto;
  right: -3550px; /* ascuns în dreapta */
}

.side-menu.open {
  right: 0; /* apare din stânga */
}

.side-menu.open.right {
  right: 0; /* apare din dreapta */
}

.close-btn {
  background: none;
  position: absolute;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.background-image-wrapper {
  position: relative;height: 100px;
  width: 100px;
}

.background-image {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
}

.shop-button {
  width: 300px;
  border: none;
  border-top: 1px solid white;
  background: linear-gradient(to bottom, #f9e8c9, #f1c87c, #d4af7f, #c39b6a);
  color: #141416;
  padding: 12px 32px;
  font-weight: 600;
  height: 44px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(212, 175, 127, 0.3);
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(to bottom, #fff4da, #f7dca4, #e1b97f, #c9a96a);
    box-shadow: 0 6px 15px rgba(212, 175, 127, 0.5);
    transform: translateY(-2%) scale(1.05);
  }
}

.shopping-cart-wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  height: auto;
  gap: 1rem;
  flex-direction: column;
}

.shopping-cart-total {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.shopping-cart-calculation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shopping-cart-bottom {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

.shopping-cart-subtitle{
  margin: 0;
}

.shopping-cart-title {
  margin: 0;
}

.numbers-selectors {
  display: flex;
  gap: 10px;
}

.shopping-item-selected {
  gap: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
}

.shopping-items {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  align-content: flex-start;
}

.shopping-cart-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.shopping-cart-upper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}


.plus-minus-button {
  border: none;
  border-top: 1px solid white;
  background: linear-gradient(to bottom, #f9e8c9, #f1c87c, #d4af7f, #c39b6a);
  color: #141416;
  font-weight: 600;
  height: 30px;
  width: 30px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(212, 175, 127, 0.3);
  transition: all 0.3s
  ease;
  align-items: center;
  justify-content: center;

  &:hover {
    background: linear-gradient(to bottom, #fff4da, #f7dca4, #e1b97f, #c9a96a);
    box-shadow: 0 6px 15px rgba(212, 175, 127, 0.5);
    transform: translateY(-2%) scale(1.05);
  }
}

.separator {
  width: 100%; margin-top: 1rem;
  border: 1px solid #3c3c3c;
}
.separator2 {
  margin-bottom: 1rem;
  width: 100%; margin-top: 1rem;
  border: 1px solid #3c3c3c;
}

.shopping-cart-calculation-wrapper {
  width: 100%;
}

.transport-free {
  font-size: 0.8rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
