$primary-color: #d44a64;
$secondary-color: #333;
$secondary-color-lither: #444;

$primary-color-be: white;
$secondary-color-be: #1d1e22;
$third-color-be: #141416;
$fourth-color-be: #fff8f2;

$bubble-color: #f6c3d6;
$bubble-second-color: #f8dce8;

$gold: #b88c4c;
$gold-light: #dca962;

$white: white;
$black: black;
