$font-size-h0-3: 3rem;
$font-size-h1-2-5: 2.5rem; // 40px
$font-size-h2-2-25: 2.25rem; // 36px
$font-size-h3-2: 2rem; // 32px
$font-size-h4-1-75: 1.75rem; // 28px
$font-size-h5-1-5: 1.5rem; // 24px
$font-size-h6-1-125: 1.125rem; // 18px
$font-size-paragraph-1: 1rem; // 16px
$font-size-paragraph-0-875: 0.875rem; // 14px
$font-size-caption-0-75: 0.75rem; // 12px
$font-size-caption-0-5: 0.5rem; // 8

// for 16px root font-size
