$line-height-h1: 3rem; // 48px
$line-height-h2: 2.625rem; // 42px
$line-height-h3: 2.25rem; // 36px
$line-height-h4: 2rem; // 32px
$line-height-h5: 1.625rem; // 26px
$line-height-h6: 1.5rem; // 24px
$line-height-paragraph-1: 1.375rem; // 22px
$line-height-paragraph-2: 1.25rem; // 20px
$line-height-caption: 1rem; // 16px

// for 16px root font-size
