/* Extra Large Devices (PC-uri mari, TV-uri mari) */
@media (min-width: 1200px) {
  /* cod pentru ecrane foarte mari */
}

/* Large Devices (Laptopuri, Desktopuri normale) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* cod pentru laptopuri */
}

/* Medium Devices (Tablete) */
@media (min-width: 768px) and (max-width: 991px) {
  /* cod pentru tablete */
}

/* Small Devices (Telefoane mari, iPhone, etc.) */
@media (min-width: 576px) and (max-width: 767px) {
  /* cod pentru telefoane mari */
}

/* Extra Small Devices (Telefoane foarte mici) */
@media (max-width: 575px) {
  /* cod pentru telefoane mici */
}
