$spacing-xxxs: 0.125rem; // 2px
$spacing-xxs: 0.25rem; // 4px
$spacing-xs: 0.5rem; // 8px
$spacing-s: 0.75rem; // 12px
$spacing-xm: 1rem; // 16px
$spacing-m: 1.5rem; // 24px
$spacing-l: 2rem; // 32px
$spacing-xl: 2.5rem; // 40px
$spacing-2xl: 3rem; // 48px
$spacing-3xl: 3.5rem; // 56px
$spacing-4xl: 4rem; // 64px
$spacing-6xl: 6rem;
$spacing-8xl: 8rem;

// for 16px root font-size
