<section class="main-wrapper">
  <section class="content-area">
    <img
      [ngSrc]="'/peHome/presentation-be-second.jpg'"
      class="background-image"
      alt="Sticluță roșie Eva Nails Rubber Base cu capac auriu, plasată pe fundal bej pastel"
      priority
      role="img"
      aria-label="Imagine cu produsul Eva Nails Rubber Base"
      fill
    />

    <header class="content-header">
      <span class="eva-title">EVA NAILS</span>
      <div>
        <button class="shop-button" (click)="toPresentation()">Shop now</button>
      </div>
    </header>
  </section>
</section>
