.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

.modal-info-wrapper {
  z-index: 100;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25%;
  right: 25%;
  background-color: #222222;

  .modal-info {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    .left {
      position: absolute;
      height: 100%;
      left: 0;
      width: 1px;
      background: linear-gradient(to right, #d4af7f, #f9e8c9);
    }
    .right {
        position: absolute;
        height: 100%;
        right: 0;
        width: 1px;
        background: linear-gradient(to right, #d4af7f, #f9e8c9);
      }
    .top {
      position: absolute;
      width: 100%;
      top: 0;
      height: 1px;
      background: linear-gradient(to right, #d4af7f, #f9e8c9);
    }
    .bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      background: linear-gradient(to right, #d4af7f, #f9e8c9);
    }
  }
}

.modal-product {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-info-product-title {
  margin: 0;
  color: white;
}

.modal-info-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.separator {
  width: 100%; margin-bottom: 1rem;
  border: 1px solid #3c3c3c;height: 1px;
}

.modal-info-body {
  color: white;
  height: 90%;
  overflow: scroll;
}
